# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/

# Build outputs
dist/
coverage/

# Env
.env

# Misc
*.tmp
*.bak

# Images generated / cache
*.cache

# OneDrive temp
~$*
