*{
    padding: 0;
    margin: 0;
    border: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
body {
    padding-top: 75px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.sign{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 15px;
}

#photo{
    height: 50px;
}

.search-outer{
    height: 500px;
    background-image: url(../pgphoto/img/bg.png);
    background-size:100% 100%;
}

.search-bar{
width: 40rem;
max-width: 380px;
height: 40px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
border: none;
outline: 0px;
}
#search{
    display: flex;
}
#search-icon{
    height: 40px;
    width: 50px;
    border: none;
    background-color: rgb(88, 82, 82);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0px;

}
#search-icon:active{
    border: 2px solid black;
}
#search-icon:hover,.search-bar:hover{
     box-shadow: 5px 8px 12px rgba(11, 11, 11, 0.15);
}
input{
    padding-left: 5px;
}
.box{
height: 500px;
background-color: rgba(15, 14, 14, 0.5); 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}


.Majorcities>div{

    height: 170px;
    width: 170px;
    border-radius: 50%;   
    padding-top: 10px;
    box-shadow: 0 0px 12px rgba(125, 121, 121, 0.15);
}
.Majorcities{
    height: 50vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
#mc{
    text-align: center;
    padding-top: 50px;
}
#delhi,#mumbai,#chennai,#hyderbad,#bengaluru{
    width: 100%;
    height: 90%;
    object-fit: fit;
    
}
.Majorcities>div:hover{
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.15);
}
footer{
     height: 8rem;
    background-color: rgb(34, 32, 32);;
}
.footer-1{
    display: flex;
    justify-content:center;
    gap: 50px;
}
.footer-anc{
    color: white;
    text-decoration: none;
}
.copyright{
    color: white;
    text-align: center;
    padding-top: 1rem;
}
.search-wrapper {
    position: relative;  
    width: 380px;
}
.suggestions {
    position: absolute;
    top: 45px;           
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: absolute;
    margin-top: 5px;
    z-index: 1000;
    
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f1f1f1;
}

